* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #282c34;
  color: #fff;
}

::-webkit-scrollbar {
  display: none;
}

.navbar {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #fff;
  text-decoration: none;
}

.navbar a {
  padding-left: 2rem;
  margin: auto;
}

a,
a:visited {
  text-decoration: none;
  color: #fff;
}
